@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maersk Line CMS</h1>
    <p class="lead">Solution that reduces overall supply chain costs and an efficient way to manage logistics.</p>
</div>